/** 

Primary blue color is: #182a72
Primary yellow color is: #ebc244
Secondary (light) blue is: #eae8f1

**/

.App {
  text-align: left;
}

/** Main navigation styling **/

#App-header .navbar.navbar-default.navbar-static-top {
  background-color: #182a72;
  background-image: none;

}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ebc244;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}


/** End Main Nav Styling **/

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 900px;
}

/**
.btn-primary {
  background-color: #436691;
  background-image: none;
}
**/

.app-content {
    -webkit-box-shadow: 2px 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 0em;
    background-color: #eee;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.MfsPanels {
  -webkit-box-shadow: 1px 1px 1px 1px #888888;
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius: 0em;
}

.MfsPanels .panel-heading {
  background-image: none;
  border-radius: 0em;
  background-color: #182a72;
  color: white;
}

.MfsPanels.welcome-panel {
  background-color: white;
  border-radius: 0em;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.app-title {
  text-align: center;
  background-color: #182a72;
  color: white;
  border-radius: 0em;
  width: 100%;
}

#zip_input {
  width: 125px;
}

#zip_submit {
  width: 125px;
}


.ZipLookup form {
  margin-bottom: 50px;
}

.FeeLookup form {
  margin-bottom: 50px;
}

.results-panel {
  margin-top: 15px;

}

.results-panel .panel-heading {
  background-color: #eee;
  color: black;
}

.zip-result {
  margin-top: 25px;
}
.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.mfs-key {
  
}

