/** 

Primary blue color is: #182a72
Primary yellow color is: #ebc244

**/

.App {
  text-align: left;
}

/** Main navigation styling **/

#App-header .navbar.navbar-default.navbar-static-top {
  background-color: #182a72;
  background-image: none;

}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ebc244;
}



/** End Main Nav Styling **/

.container {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 900px;
}

.ZipLookup {
  text-align: center;
}

#zip_input {
  width: 120px;
  margin: auto;
  text-align: center;
}

#zip_submit {
  width: 120px;
}


.zip-alert {
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
}

.FeeLookup form {
  margin-bottom: 50px;
}

.results-panel {
  margin-top: 15px;
  max-width: 350px;
  margin: auto;
}

.mfs-key {
  
}

